# This file contains pin mappings for the Creality "v4.2.7" board. To
# use this config, during "make menuconfig" select the STM32F103 with
# a "28KiB bootloader" and serial (on USART1 PA10/PA9) communication.

# If you prefer a direct serial connection, in "make menuconfig"
# select "Enable extra low-level configuration options" and select
# serial (on USART3 PB11/PB10), which is broken out on the 10 pin IDC
# cable used for the LCD module as follows:
# 3: Tx, 4: Rx, 9: GND, 10: VCC

# Flash this firmware by copying "out/klipper.bin" to a SD card and
# turning on the printer with the card inserted. The firmware
# filename must end in ".bin" and must not match the last filename
# that was flashed.

# See docs/Config_Reference.md for a description of parameters.

[stepper_x]
step_pin: PB9
dir_pin: PC2
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA5
position_endstop: 0
position_max: 250
homing_speed: 30

[stepper_y]
step_pin: PB7
dir_pin: PB8
enable_pin: !PC3
microsteps: 16
rotation_distance: 40
endstop_pin: ^PA6
position_endstop: 0
position_max: 235
homing_speed: 30

[stepper_z]
step_pin: PB5
dir_pin: !PB6
enable_pin: !PC3
microsteps: 16
rotation_distance: 8
endstop_pin: ^PA7
position_endstop: -.45 # THIS IS Z OFFSET FOR PROBE
position_max: 220
position_min: -.5

[printer]
kinematics: cartesian
max_velocity: 150
max_accel: 750
max_z_velocity: 20
max_z_accel: 100

[idle_timeout]
#gcode:
#   A list of G-Code commands to execute on an idle timeout. See
#   docs/Command_Templates.md for G-Code format. The default is to run
#   "TURN_OFF_HEATERS" and "M84".
timeout: 900
#   Idle time (in seconds) to wait before running the above G-Code
#   commands. The default is 600 seconds.


[fan]
pin: PA0

[mcu]
serial: /dev/serial/by-id/usb-1a86_USB_Serial-if00-port0
restart_method: command

[include display.cfg]

[include aliases.cfg]

[include sensors.cfg]

[include critical-macros.cfg]

[include other-macros.cfg]

[include heaters.cfg]

[include Input-Shaper.cfg]

[include relays.cfg]

#[include filament-sensor.cfg]

[include klicky.cfg]

#[include stealthburner_leds.cfg]

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 18.160
#*# pid_ki = 0.859
#*# pid_kd = 96.019
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 74.431
#*# pid_ki = 1.785
#*# pid_kd = 775.941
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  0.035833, 0.054167, 0.015000, -0.008333, -0.083333
#*# 	  0.039167, 0.055000, 0.020000, -0.014167, -0.097500
#*# 	  0.070000, 0.007500, 0.000000, -0.060833, -0.144167
#*# 	  0.050000, 0.045000, 0.021667, -0.009167, -0.106667
#*# 	  0.145833, 0.095833, 0.080833, 0.060000, 0.014167
#*# tension = 0.2
#*# min_x = 30.0
#*# algo = bicubic
#*# y_count = 5
#*# mesh_y_pps = 4
#*# min_y = 35.0
#*# x_count = 5
#*# max_y = 221.0
#*# mesh_x_pps = 4
#*# max_x = 220.0
